.mainNav {
  padding: 0 15px;
}

.myAccount,
.sellButton,
.login {
  margin-left: 10px;
}

.heartHead,
.emailHead {
  margin-right: 30px;
  color: blue;
  transition: color 0.3s ease;
}
.heartHead:hover,
.emailHead:hover {
  color: red;
}

.Logout:hover {
  background-color: red;
  color: white;
}

.TagsNavContainer {
  padding: 20px 0;
}

.allCategories {
  margin-right: 20px;
}

.TagsNavegation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .TagsNavContainer {
    flex-direction: column;
    align-items: center;
  }

  .allCategories {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .TagsNavegation {
    justify-content: center;
  }
}
