.footer {
  background-color: var(--primary-300);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  color: #fff;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  color: var(--accent-100);
  text-decoration: none;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--accent-100);
}
.buttonsContinerMobile {
  display: none;
}
