/* ChatListItem.css */
.chat-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid var(--primary-100);
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    background-color: var(--bg-200);
    border-radius: 8px;
  }
  
  .chat-list-item.selected {
    background-color: var(--bg-300);
  }
  
  .product-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .product-title {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: var(--text-100);
  }
  
  .counterpart-name {
    font-size: 13px;
    color: var(--text-200);
  }
  
  .unread-messages {
    background-color: var(--primary-300);
    color: var(--bg-100);
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  