.chat-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.message-container {
  flex-grow: 1;
  overflow-y: auto;
  border: 0px 1px solid #ddd;
  padding: 10px;
  background-color: #fff;
  max-height: 90%;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
  width: fit-content;
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.message-content {
  margin-bottom: 4px;
}

.sent {
  margin-left: auto;
  background-color: #dcf8c6;
}

.received {
  margin-right: auto;
  background-color: #f1f0f0;
}

.message-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3px;
}

.timestamp {
  font-size: 10px;
  color: gray;
}

.tick {
  font-size: 12px;
  color: gray;
}

.tick.read {
  color: dodgerblue;
}

.send-container {
  display: flex;
  padding: 20px;
}

.send-container input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
}

.send-container button {
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 40px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-container button:hover {
  background-color: #218838;
}

.send-container .empty {
  background-color: grey;
  pointer-events: none;
}

.message-container::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

.message-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.message-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}