:root {
  --search-bar-width: 20rem;
  --search-bar-height: 3rem;
  --search-button-width: 7rem;
  --general-gap: 1rem;
}

.mainNav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.header {
  background-color: #f8f9fa;
  padding: 10px;
}

.barSearch {
  width: var(--search-bar-width);
  height: var(--search-bar-height);
  margin-right: var(--general-gap);
}

.buttonSearch {
  width: var(--search-button-width);
  height: var(--search-bar-height);
}

.sellButton {
  width: var(--search-button-width);
  height: var(--search-bar-height);
  margin-left: var(--general-gap);
  background-color: green;
}

.myAccount {
  width: var(--search-button-width);
  height: var(--search-bar-height);
  margin-left: var(--general-gap);
  background-color: white;
  color: blue;
}
