:root {
  --advert-1: #ffffff;
  --advert-2: #3d3d3d;
  --advert-3: #000000;

  --botton-1: #0d6efd;
  --botton-2: #ffffff;

  --tag-1: #a3009b;
  --tag-2: #ffffff;

  --text-1: #000000;
  --text-2: #000000;

  --error-1: #ff0000;
  --error-2: #fc8a8a;

  --success-1: #83e0ca;
  --success-2: #8aff8a;

  --shadow-1: #0000004b;

  --bg-1: #282c34;
  --bg-2: #21c063;
  --bg-3: #50555e;

  --border-1: #0d6efd;

  /*color pallet*/
  --primary-100: #6eb5a5;
  --primary-200: #519889;
  --primary-300: #03584b;
  --primary-400: #e8f8f0a0;
  --accent-100: #f18f01;
  --accent-200: #833500;
  --accent-300: #fab752;
  --text-100: #333333;
  --text-200: #5c5c5c;
  --background-100: #e8e8e8;
  --background-200: #fbe8dd;
  --bg-100: #fafafa;
  --bg-100-alpha: #fafafacb;
  --bg-200: #fcf5f1;
  --bg-300: #cccccc;

  /*color pallet dark*/

  --primary-100-d: #ff703f;
  --primary-200-d: #dc5324;
  --primary-300-d: #8d0000;
  --accent-100-d: #ffd670;
  --accent-200-d: #95760b;
  --text-100-d: #ffffff;
  --text-200-d: #e0e0e0;
  --bg-100-d: #1b2b34;
  --bg-200-d: #2b3b44;
  --bg-300-d: #43545e;
}

@font-face {
  font-family: MerriweatherSans;
  src: url("/src/assets/fonts/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MerriweatherSans;
  src: url("/src/assets/fonts/MerriweatherSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: MerriweatherSans, sans-serif;
  font-weight: 400; /* Medium weight by default */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: MerriweatherSans, sans-serif;
  font-weight: 700;
}

#root {
  background: var(--bg-100);
  a {
    text-decoration: none;
  }
}
